{% extends 'components/base.html' %}
{% load static i18n%}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Gallery"%}{% endblock title %}

{% block content %}
<div class="row-fluid mb-5">
    <div class="bg-image"
         style="background-image: url({% static 'eeorw_app/bg-img/banner_vector.webp' %});
                height: 500px;">

        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0 h1">{% translate 'Gallery' %}</p>
            </div>
        </div>
    </div>

</div>

<div class="container text-center mb-5">
    <div class="row">
        <h1>{% trans 'Pictures' %}</h1>
        {% for gallery in galleries %}
        {% if gallery.image %}
        <div class="d-flex justify-content-between rounded-9 col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="row">
                <img src="{{ gallery.image.url }}" class="w-100 rounded-9" alt="{{ gallery.title_uz }}">
                <h4 class="mt-2">{{ gallery.title_en|safe }}</h4>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="container text-center mb-5">
    <div class="row">
        <h1>{% trans 'Videos' %}</h1>
        {% for gallery in galleries %}
        {% if gallery.video %}
        <div class="ratio ratio-16x9 d-flex justify-content-between me-2 mb-5">
            <video
                    id="my-video"
                    class="video-js col-12 col-md-6"
                    controls
                    preload="auto"
                    width="640"
                    height="264"
                    data-setup="{}"
            >
                <source src="{{ gallery.video.url }}" type="video/mp4"/>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                </p>
            </video>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}