{% extends 'components/base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block content %}
<div class="container mb-5 row-fluid">
    <div class="row-fluid mt-5">
        <h2 class="text-center"
            data-aos="fade-left"
            data-aos-anchor="#example-anchor"
            data-aos-offset="500"
            data-aos-duration="500">{% translate "News" %}</h2>
        <div class="line"
             data-aos="fade-right"
             data-aos-offset="300"
             data-aos-easing="ease-in-sine">
        </div>
        {% for list in news_home %}
        <div class="card mb-3" data-aos="fade-up">
            <div class="row g-0">
                <div class="card_img ripple col-md-4">
                    <a href="{% url 'news_details' pk=list.pk %}" class="">
                        {% if list.image_uz %}
                        {% if LANGUAGE_CODE == 'en' and list.image %}
                        <img src="{{ list.image.url }}" class="card_news_img img-fluid rounded-start"
                             alt="news">
                        {% elif LANGUAGE_CODE == 'ru' and list.image_ru %}
                        <img src="{{ list.image_ru.url }}" class="card_news_img img-fluid rounded-start"
                             alt="news">
                        {% else %}
                        <img src="{{ list.image_uz.url }}" class="card_news_img img-fluid rounded-start"
                             alt="news">
                        {% endif %}
                        {% else %}
                        <img src="{% static 'eeorw_app/img-core/news.webp' %}"
                             class="card_news_img img-fluid rounded"
                             alt="list.title_en">
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'news_details' pk=list.pk %}" class="">
                            {% if LANGUAGE_CODE == 'en' %}
                            {{ list.title_en|default_if_none:""|truncatechars:80 }}
                            {% elif LANGUAGE_CODE == 'ru' %}
                            {{ list.title_ru|default_if_none:""|truncatechars:80 }}
                            {% elif LANGUAGE_CODE == 'uz' %}
                            {{ list.title_uz|default_if_none:""|truncatechars:80 }}
                            {% endif %}
                        </a></h5>
                        <p class="card-text">
                            {% if LANGUAGE_CODE == 'en' %}
                            {{ list.description_en|default_if_none:""|safe|truncatechars:500 }}
                            {% elif LANGUAGE_CODE == 'ru' %}
                            {{ list.description_ru|default_if_none:""|safe|truncatechars:500 }}
                            {% elif LANGUAGE_CODE == 'uz' %}
                            {{ list.description_uz|default_if_none:""|safe|truncatechars:500 }}
                            {% endif %}
                        </p>
                        <p class="card-text"><small class="text-muted">
                            <a href="#!" style="margin-right: 10px"><i class="far fa-calendar"></i> {{list.date}}</a>
                            <a href="#!"><i class="fas fa-eye"></i> {{ list.views }}</a>
                        </small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <a href="{% url 'news' %}">
            <div class="btn btn-success bg-gradient">{% translate 'All news' %}</div>
        </a>
    </div>
    <div class="row-fluid mt-5">
        <h2 class="text-center"
            data-aos="fade-left"
            data-aos-anchor="#example-anchor"
            data-aos-offset="500"
            data-aos-duration="500">{% translate "About Us" %}</h2>
        <div class="line"
             data-aos="fade-right"
             data-aos-offset="300"
             data-aos-easing="ease-in-sine">
        </div>
        <div class="container">
            <div class="row-fluid mt-5 mb-5">
                <div class="d-flex justify-content-between row">
                    <div class="col-sm-12 col-md-6">
                        {% if LANGUAGE_CODE == 'en' %}
                        {{ info_about.about_en|safe|linebreaksbr }}
                        {% elif LANGUAGE_CODE == 'uz' %}
                        {{ info_about.about_uz|safe|linebreaksbr }}
                        {% elif LANGUAGE_CODE == 'ru' %}
                        {{ info_about.about_ru|safe|linebreaksbr }}
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-md-6" data-aos="zoom-out">
                        {% if info_about.image_en %}
                        {% if LANGUAGE_CODE == 'en' and info_about.image_en %}
                        <img src="{{ info_about.image_en.url }}" class="lazy img-fluid rounded hover-shadow"
                             alt="uzrd About us">
                        {% elif LANGUAGE_CODE == 'ru' and info_about.image_ru %}
                        <img src="{{ info_about.image_ru.url }}" class="lazy img-fluid rounded hover-shadow"
                             alt="uzrd About us">
                        {% else %}
                        <img src="{{ info_about.image_uz.url }}" class="lazy img-fluid rounded hover-shadow"
                             alt="uzrd About us">
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
